body {
    background-color: whitesmoke;
}

.loginFormSection {
    position: absolute;
    top: 15%;
    left: 35%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 40px;
    background-color: yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    border: 1px solid grey;
    height: 30px;
    width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    font-size: 25px;
}

input:focus {
    outline: none;
    background-color: whitesmoke;
}

button {
    width: 120px;
    height: 40px;

    padding: 5px;
    vertical-align: middle;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-radius: 6px;
    background-color: yellowgreen;
    margin: 20px;
    color: black;
}

.buttonSection {
    text-align: center;
}